<%= simple_form_for SearchForm.new(:name => @search_string), :url => '', :method => :get do |f|%>
    <%= f.input :name,   :label => '名稱'%>
    <%= f.submit "submit"%>
<% end %>
<div id="d3graph"></div>

<% content_for :javascripts do %>
    <script>
        show_d3($('input[name="search_form[name]"]').val());
    </script>
<% end %>

