development:
  recipient: foo@example.com
  default_url_options:
    host: "localhost:3000"
  smtp_settings:
    domain: "example.com"
    user_name: "somewone@example.com"
    password: "password"
    address: "smtp.gmail.com"
    port: 587
    authentication: :login
    enable_starttls_auto: true 

